parameters:
  excludes_analyse: [test/fixtures/]
  level: max
  paths: [lib, test]
  ignoreErrors:
    - '/Call to an undefined method Robo\\Collection\\CollectionBuilder/'
    - '/Result of method .* \(void\) is used/'
